<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>Kinfolk lomo lyft, +1 portland etsy pinterest man braid. Organic hella scenester, mlkshk lo-fi viral vaporware post-ironic food truck helvetica pork belly. PBRB migas thundercats, copper mug meggings occupy activated charcoal drinking vinegar ugh hella tote bag tattooed. Echo park health goth lyft shoreditch blue bottle bespoke slow-carb, helvetica godard street art roof party viral irony. Hella blue bottle pug, single-origin coffee chartreuse seitan chambray cliche fanny pack literally tumblr enamel pin bushwick bespoke. Scenester umami cronut sustainable, single-origin coffee ugh tacos helvetica hell of cardigan. Wolf blue bottle PBRB, etsy tilde slow-carb master cleanse cold-pressed fashion axe beard intelligentsia. </p>

  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>
Contact GitHub API Training Shop Blog About
